html{
    background-color: greenyellow
}

h1{
    text-align: center;
    background-color: rgb(20, 220, 187); 
    font-family: "Comic Sans MS",cursive;
    margin: 45px;
}

span{
    background-color: black;
    color: white;
    font-style:italic;
    padding: 8px;
}

p{
    font-size: 20px;
    font-family: "URW Chancery L",cursive;
    background-color: crimson;
    margin: 10px;
    border-style: double;
    border-color: pink;
}

.first{
    text-align: center;
    padding: 0px;
}

.second{
    text-align: right;
    padding: 20px;
    margin-left: 200px;
    margin-right: 18px;
}

.third{
    text-align: left;
    padding: 40px;
    margin-right: 28px;
    margin-left: 77px;
    font-size: 23px;
}

img{
    background-color: bisque;
    height: 400px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin: auto;
}